body {
    font-family: Verdana;
    font-size: 12px;
}

.hidden {
    display: none;
}

.file-item {
}

.file-name {
}

.file-name {
}

.fn-names {
}

.fn-item {
    margin: 20px 10px;
}

.fn-deopt {
    color: #ce1800;
}

.fn-name {
}

.fn-versions {
}

.deopt {
    color: #ce1800;
}

.recompile {
    border-top: 1px solid #EEE;
}
.recompile:first-child {
    border-top: 0;
}
.code {
    border: 1px solid #EEE;
    padding: 10px;
    font-size: 12px;
    font-family: Consolas, Menlo, Courier, monospace;;
    white-space: pre;
    border-radius: 3px;
}

.runtime {
    background: lightgoldenrodyellow;
    cursor: default;
}

.LoadNamedGeneric, .StoreNamedGeneric, .LoadKeyedGeneric, .StoreKeyedGeneric, .CompareGeneric{
    background: lightpink;
}

.LoadNamedGeneric:before, .StoreNamedGeneric:before, .LoadKeyedGeneric:before, .StoreKeyedGeneric:before, .CompareGeneric:before{
    /*content: 'Ⓖ';*/
    /*font-size: 10px;*/
    /*padding-left: 3px;*/
}

.CallWithDescriptor, .InvokeFunction, .CallRuntime{
    background: silver;
}

.inline {
    background: #a1d6fa;
}

.inline-code .code {
    border-color: #a1d6fa;
    margin-top: -2px;
}

.recompile-title{
}

.toggle-next{
    cursor: pointer;
}

[data-title]:hover {
    position: relative;
}
[data-title]:hover:after {
    content: attr(data-title);
    padding: 1px 3px;
    color: #333;
    position: absolute;
    background: white;
    border: 1px solid #EEE;
    border-radius: 3px;
    left: 0;
    top: -20px;
}